*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #fff;
}
.container{
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* my color */
:root{
    --purpole:#7C2AE8;
    --blue:#00C4CC;
    --pink:#FF2160;
    --baby-pink:#ff5797;
    --orange:#ff5757;
    --lite-pink:#ff9191;
    --baby-red:#ff1616;
    --yellow:#ffde59;
}

.blue-bg{
    background-image: linear-gradient(45deg,var(--purpole),var(--blue));
}
.pink-bg{
    background-image: linear-gradient(45deg,var(--pink),var(--baby-pink));
}
.orange-bg{
    background-image: linear-gradient(45deg,var(--baby-red),var(--yellow));
}
.row{
    display: flex;
    flex-flow: wrap row;
    align-items: stretch; 
    justify-content: space-between;
    
}
.col-2{
    flex-basis: 48%;
    max-width: 48%;
}
.col-3{
flex-basis: 30%;
max-width: 30%;
}
.gradiant-text{
    background: #FFD342;
    background: linear-gradient(to right, #FFD342 0%, #FF1616 92%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.tomato-color{
    color: var(--baby-red);
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    padding: 15px 35px;
    text-align: center;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn {
    margin: 30px 0 10px;
}
.headline{
    text-align: center;
    padding: 0 0 80px;
}
h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
}
h2{
        font-size: 34px;
    }

p{
    font-size: 16px;
    line-height: 1.5em;
}
h6{
    font-size: 18px;
    /* letter-spacing: 2px; */
    line-height: 1.5;
    
}


/** hero section**/
.hero{
    min-height: 100vh;
    
}
.hero .col-2{
    align-self: center;
}
.hero-banner {
    background-image:url("../img/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;  
}
.hero h6{
    padding: 20px 0 10px;
}

.hero img{
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}
/** hero end**/

/* About me */
.about-banner{
    background: #f8f8f8 no-repeat url("../img/exp-bg-flip.png");
    background-position: top right;
    /* background-size: contain; */
    
}
.about{
    padding: 100px 0;
    text-align: center;
    
}
.about-content{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
.about span{
    color: var(--baby-red);
}
.about p span{
    font-weight: 700;
    font-style: italic;
}
.about h1{
    padding: 0 0 20px;
}

/* Experience section */

.experience{
    padding: 100px 0;
}
.experience-banner{
    background: no-repeat url("../img/dream-bg-flip.png");
    background-position: top left;
    /* background-size: contain; */
    padding: 120px 0;
}

/*experice card design */
.card{
    padding: 30px 25px;
    /* min-height: 300px; */
    background-color: #fff;
    box-shadow: 0px 0px 40px -1px rgb(186 181 181 / 50%);
    border-radius: 10px;
}
.card h2{
     font-size: 25px;
}
.card-head{
    padding: 0 0 20px;
}
.card.border-tomato{
    border-left:7px solid tomato;
}
.card.border-yellow{
    border-left:7px solid #FFA654;
}
/* projects */
.projects{
    background: #f8f8f8 no-repeat url("../img/exp-bg-flip.png");
    background-position: top right;
    /* background-size: contain; */
    padding: 100px 0;
    
}
.projects img{
    border-radius: 10px;
}
.language{
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    padding: 0 0 20px;
}

.items {
    flex-basis: 22%;
    text-align: center;
    border-radius: 20px;
    margin: 10px 10px 0 0;
    padding: 2px 8px;
    box-shadow: 0px 0px 10px -1px rgb(186 181 181 / 50%);
}
.items h3{
    font-size: 14px;
    color: whitesmoke;

}

/* Footer style */
footer{
    padding: 30px 20px;
    margin: 0 40px;
    background: #fff;
    text-align: center;
    border-top:1px solid #ff5757 ;
}


/* Responsive design */
@media(max-width:992px){

    h1{
        font-size: 34px;
    }
    h2{
        font-size: 18px;
    }
    h6{
        font-size: 13px;
    }
    p{
        font-size: 14px;
    }
    .row{
        justify-content: space-between;
    }
    .col-3{
        flex-basis: 48%;
        max-width: 48%;
        margin: 20px 0;
    }
    .container{
        padding: 60px 25px;
    }
    .experience .row,.hero.row{
        justify-content: space-evenly;
    }
    .experience .col-2{
        flex-basis: 90%;
        max-width:90%;
        margin: 20px 0;
    }
    .hero{
        min-height: 400px;
    }
    .hero p{
        display: none;
    }
    .about, .projects, .experience{
        padding: 0;
    }
    .about-content{
        width: 800px;
        max-width: 100%;
        padding: 12px;
        border-radius: 10px;
        background: rgba(245, 245, 245, 0.575);
    }


}
@media(max-width:800px){
    .experience .col-2{
        flex-basis: 80%;
        max-width:80%;

    }
}
@media(max-width:768px){
    .container {
        padding: 60px 20px;
    }
    h2{
        font-size: 20px;
    }
    h6{
        font-size: 16px;
    }
    .col-2{
        flex-basis: 100%;
        max-width: 100%;
        align-items: center;
    }
    .experience .col-2{
        flex-basis: 100%;
        max-width:100%;

    }
   
    .headline{
        padding: 0 0 50px;
    }
    .experience .row{
        justify-content: space-evenly;
    }
    .hero .figure{
        text-align: center;
    }
    .hero p{
        display: block;
    }
    .hero.row{
        flex-flow: wrap column-reverse;
        justify-content: center;
        
    }
    .hero-banner{
        background-position: center;
    }
    .hero img{
        width: 80%;
        max-width: 100%;
    }
    .card{
        margin: 10px 0;
    }
    .items {
        flex-basis: 15%;
        text-align: center;
    }
   
}
@media(max-width:600px){
    .container{
        padding: 50px 20px;
    }
    .col-3{
        flex-basis: 80%;
        max-width: 80%;
    }
    .experience-banner{
        background-position: bottom left;
    }
    .about-banner{
        background-position: bottom right;
    }
    .about-content p{
        text-align: justify;
        }
    .projects{
        background-position: bottom right;
    }
    .projects .row {
        justify-content: center;
    }
    .items {
        flex-basis: 22%;
        text-align: center;
    }
    footer{
        margin: 0 5px;
    }
   

}
@media (max-width:468px) {

     .col-3{
        flex-basis: 90%;
        max-width: 90%;
    }
}
